*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


/*INDEX*/
h1{
    background-color: black;
    color: firebrick;
    font-size: 60px;
    text-align: start;
}

h2{
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    border: 2px solid red;
    
    
} 

div{
    background-color: rgb(49, 37, 121);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}
main p{
    background-image: url(../img/supermariobross.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}

.halo{
    width: 100%;
    height: 400px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}


nav{
    text-decoration: none;
    background-image: url(../img/supermariobross.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 25px;
}

.fighter{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-position-y: top;}
    
/*.gears{
    width: 100%;
    display: flex;
    justify-content: end;
}*/
.navbar{
    text-decoration: underline;
    background-color: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}



/*-------GRIDS INDEX-------*/



.grid-galeria{
    background-color: black;
    border: solid 4px rgb(0, 0, 0);
    display: grid;
    grid-template-rows: repeat(12,600px); /*filas*/
    grid-template-columns: 100% ; /*columnas*/ 
}

.primero{
    background-image: url(../img/ragnarok.webp);
    background-position: center;
    background-size: cover;
    background-position-y: top;
    
}


.decada{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: white;*/
    border: none;
    
    

}

.grid-item{
    color: white;
    border: solid 5px rgb(0, 0, 0);
    background-color: rgb(97, 3, 3);
    
}

/* GRID IMAGENES*/
.grid-galeria div img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-position-y: top;}
    



/*--------------------------------------------------------------------------------------------*/
/*LANZAMIENTOS*/
.lanzamientos{
    background-color: rgb(49, 37, 121);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    
}
/*----------------------------------------------------------------------------------------------*/

/*ACTUALIZACIONES*/
.actualizacion{
    background-color: rgb(49, 37, 121);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}

/*NOSOTROS*/
.event{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    background-color:rgb(49, 37, 121) ;
    display: flex;
    justify-content: space-evenly;
    
}
.event img{
    width: 150px;
    height: 150px;
    padding: 20px;
    
}

/*LINKS a*/
.linkea{
    text-decoration: none;
    background-color: rgb(236, 5, 5);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: fantasy;
    
}

/*RESPONSIVE*/
@media
(min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}